{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "notifications/base.html" %}
{% load i18n %}
{% load notifications_tags %}
{% load users_tags %}

{% block subtitle %} / {% trans "Notifications" %}{% endblock %}

{% block content %}

<h5>{% trans "Notifications" %}</h5>

{% if object_list %}
<div class="actions mb-1">
  {% if is_unread_notifications %}
  <a href="{% url 'notifications:mark_all_read' %}"
     data-controller="ajax"
     data-action="ajax#post">{% trans "Mark All As Read" %}</a>
  {% endif %}
  <a href="{% url 'notifications:delete_all' %}"
     data-controller="ajax"
     data-action="ajax#post"
     data-ajax-confirm-header="{% trans 'Delete All' %}"
     data-ajax-confirm-body="{% trans 'Are you sure you want to delete all your notifications?' %}">{% trans "Delete All" %}</a>
</div>
{% endif %}

{% dismissable user "notifications-emails" %}
{% url 'user_update' as user_settings_url %}
{% blocktrans %}
You can enable emails for your notifications
<a href="{{ user_settings_url }}">in your settings</a>.{% endblocktrans %}
{% enddismissable %}

{% notifications_subscribe_btn user community %}

{% if object_list %}

<table class="table table-hover table-responsive">
  <tbody>
    {% for notification in object_list %}
    {% notification notification %}
    <tr>
      <td>
        <div class="notification">

          <div class="notification-header{% if not notification.is_read %} text-bold{% endif %}">
            {{ notification_content }}
            {% if not notification.is_read %}
            <div class="label bg-primary">{% trans "New" %}</div>
            {% endif %}
          </div>
          {% include "users/includes/chip.html" with profile=notification.actor %}
          <span class="timesince">
            {% blocktrans with created=notification.created|timesince %}
            {{ created }} ago
            {% endblocktrans %}
          </span>
        </div>
      </td>
      <td>
        <div class="actions float-right-responsive">
          {% if not notification.is_read %}
          <a href="{% url 'notifications:mark_read' notification.pk %}"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Mark As Read" %}</a>
          {% endif %}
          <a href="{% url 'notifications:delete' notification.pk %}"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Delete" %}</a>
        </div>
      </td>
    </tr>
    {% endnotification %}
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock %}
