{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}

{% load i18n %}

{% block account_subtitle %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'user_update' %}">{% trans "My Settings" %}</a></li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">{% trans "Change Password" %}</a>
  </li>
</ul>

<h5>{% trans "Change Password" %}</h5>

{% url 'account_change_password' as change_password_url %}
{% include "includes/forms/form.html" with action=change_password_url %}

{% endblock content %}
