{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
<div data-controller="calendar time-selector">
  <template data-target="calendar.template">
    <div class="calendar-date">
      <button class="date-item"
              data-action="calendar#select">
      </button>
    </div>
  </template>
  <div class="input-group">
    {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
    {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
  </div>
  <div class="columns pt-1">
    <div class="column col-mr-auto col-4 col-md-12">
      <div class="calendar d-none"
           data-target="calendar.calendar">
        <div class="calendar-nav navbar">
          <button class="btn btn-action btn-link btn-lg"
                  data-action="calendar#prevMonth"><i class="icon icon-arrow-left"></i></button>
          <div class="navbar-primary"
               data-target="calendar.currentMonth">March 2017</div>
          <button class="btn btn-action btn-link btn-lg"
                  data-action="calendar#nextMonth"><i class="icon icon-arrow-right"></i></button>
        </div>
        <div class="calendar-container">
          <div class="calendar-header">
            <div class="calendar-date">{% trans "Sun" %}</div>
            <div class="calendar-date">{% trans "Mon" %}</div>
            <div class="calendar-date">{% trans "Tue" %}</div>
            <div class="calendar-date">{% trans "Wed" %}</div>
            <div class="calendar-date">{% trans "Thu" %}</div>
            <div class="calendar-date">{% trans "Fri" %}</div>
            <div class="calendar-date">{% trans "Sat" %}</div>
          </div>
          <div class="calendar-body"
               data-target="calendar.days"></div>
        </div>
      </div>
    </div>
  </div>
</div>
