{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div data-controller="typeahead"
     {% if mention_search_url %}
     data-typeahead-mention-search-url="{{ mention_search_url }}"
     {% endif %}
     {% if tag_search_url %}
     data-typeahead-tag-search-url="{{ tag_search_url }}"
     {% endif %}>
    <ul class="menu d-hide p-absolute"
        data-target="typeahead.selector"></ul>
    <input data-target="typeahead.input"
           data-action="keyup->typeahead#keyup keydown->typeahead#keydown"
           autocomplete="off"
           class="form-input"
           {% if widget.value %}value="{{ widget.value }}"
           {% endif %}
           name="{{ widget.name }}"
           {% include "django/forms/widgets/attrs.html" %}>
</div>