{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "communities/base.html" %}

{% load i18n %}

{% block subtitle %} / {% trans "Site Settings" %}{% endblock %}

{% block content %}
<h5>{% trans "Site Settings" %}</h5>

<div class="actions mb-1">
  <a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a>
  <a href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  <a href="{% url 'join_requests:list' %}">{% trans "Join Requests" %}</a>
</div>

{% include "includes/forms/stimulusjs_form.html" with multipart=True submit_btn=_("Save Settings") %}

{% endblock content %}
