{% extends "communities/base.html" %}
{% load i18n %}
{% block content_main_panel %}
<h5>{% trans "Delete Membership" %}</h5>

<form method="POST"
      action="{{ request.path }}">
  {% csrf_token %}
  <p>{% trans "Do you really want to delete this membership?" %}</p>
  <a class="btn btn-link"
     href="{% url 'communities:membership_list' %}">{% trans "Cancel" %}</a>
  <button class="btn btn-primary"
          type="submit">{% trans "Delete" %}</button>
</form>

{% endblock content_main_panel %}