{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}

{% load i18n %}
{% load rules %}
{% load activities_tags %}

{% block subtitle %} / {% trans "Terms" %}{% endblock %}

{% block content %}

<h5>{% trans "Terms & Conditions" %}</h5>

{% has_perm "communities.manage_community" user community as can_manage %}
{% if can_manage or community.description %}
<div class="actions mb-1">
  {% if community.description %}
  <a href="{% url 'communities:community_detail' %}">
    {% blocktrans with community_name=community.name %}
    About {{ community.name }}
    {% endblocktrans %}
  </a>
  {% endif %}
  {% if can_manage %}
  <a href="{% url "communities:community_update" %}">
    {% trans "Community Settings" %}
  </a>
  {% endif %}
</div>
{% endif %}

<div class="markdown-content">
  {{ community.terms.markdown|strip_external_images:user }}
</div>

{% endblock content %}
