{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% blocktrans %}
<a href="{{ actor_url }}">{{ actor_display }}</a> has submitted a new <a href="{{ object_url }}">comment</a>.
{% endblocktrans %}
