{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/activity_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load activities_tags %}

{% block content %}
{% thumbnail object.image "900" upscale=False as image %}
<div>
  <a href="{{ object.get_absolute_url }}">
    <img class="img-responsive"
         src="{{ image.url }}"
         width="{{ image.width }}"
         height="{{ image.height }}"
         alt="{{ object.title }}">
  </a>
</div>
{% empty %}
<em>{% trans "No photo available" %}</em>
{% endthumbnail %}

{% if is_detail %}
{% include "activities/includes/map.html" with css_class="my-2" %}
{% endif %}

{% include "activities/includes/description.html" %}

{% if object.has_attribution %}
<dl>
  {% if object.artist %}
  <dt>{% trans "Artist" %}</dt>
  <dd>{{ object.artist }}</dd>
  {% endif %}
  {% if object.original_url %}
  <dt>{% trans "Original URL" %}</dt>
  <dd>{{ object.original_url|linkify }}</dd>
  {% endif %}
  {% if object.cc_license %}
  <dt>{% trans "Creative Commons License" %}</dt>
  <dd>{{ object.get_cc_license_display }}</dd>
  {% endif %}
</dl>
{% endif %}
{% endblock content %}

{% block actions %}{% include "photos/includes/actions.html" %}{% endblock %}
{% block links %}{% include "photos/includes/links.html" %}{% endblock %}
