{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if is_blocked %}
<a href="{% url 'activities:tag_unblock' tag.id %}"
   data-action="ajax#post">
  <s>{% trans "Block" %}</s>
</a>
{% else %}
<a href="{% url 'activities:tag_block' tag.id %}"
   data-action="ajax#post">
  {% trans "Block" %}
</a>
{% endif %}
