$map-height: 180px;
$body-bg: #eee;

// darkmode
$darkmode-darker: #181a1b;
$darkmode-lighter: #1C1E1F;
$darkmode-link: #7aa4ee;
$darkmode-link-visited: #bc6bb8;
$darkmode-text: #cdc9c2;

$size-lg: 1100px;

$link-color-visited: #871b81;