{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if user.is_authenticated %}
<div class="text-center my-2 toast d-hide"
     data-controller="notifications"
     data-notifications-service-worker-url="{% url 'notifications:service_worker' %}"
     data-notifications-subscribe-url="{% url 'notifications:subscribe' %}"
     data-notifications-unsubscribe-url="{% url 'notifications:unsubscribe' %}"
     {% if vapid_public_key %}
     data-notifications-vapid-public-key="{{ vapid_public_key }}"
     {% endif %}>
   <a class="d-hide"
      href="#"
      data-target="notifications.subscribeBtn"
      data-action="notifications#subscribe">{% trans "Enable browser push notifications" %}</a>
   <a class="d-hide"
      href="#"
      data-target="notifications.unsubscribeBtn"
      data-action="notifications#unsubscribe">{% trans "Disable browser push notifications" %}</a>
</div>
{% endif %}