{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<footer class="text-center py-2 col-mx-auto col-10 col-lg-12 text-light">
  &copy; Dan Jacob {% now "Y" %}. {% blocktrans %}Powered by <b>Localhub</b>, your friendly neighborhood social network. <a href="https://gitlab.com/danjac/localhub/">Open software</a> licensed under <a href="http://www.affero.org/oagpl.html">AGPL</a>{% endblocktrans %}.
</footer>

