{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load pagination_tags %}
{% if is_paginated %}
<ul class="pagination {{ css_class|default:"mt-2" }}">
  <li class="page-item page-prev{% if not page_obj.has_previous %} disabled{% endif %}">
    {% spaceless %}
    <a class="btn btn-link"
       {% if page_obj.has_previous %}
       href="{% pagination_url page_obj.previous_page_number %}"
       {% else %}
       href="#"
       {% endif %}>
      {% trans "Previous" %}
    </a>
    {% endspaceless %}
  </li>
  <li class="page-item page-next{% if not page_obj.has_next %} disabled{% endif %}">
    {% spaceless %}
    <a class="btn btn-link"
       {% if page_obj.has_next %}
       href="{% pagination_url page_obj.next_page_number %}"
       {% else %}
       href="#"
       {% endif %}>
      {% trans "Next" %}
    </a>
    {% endspaceless %}
  </li>
</ul>
{% endif %}
