{% extends "invites/base.html" %}
{% load i18n %}
{% block content %}
<h5>{% trans "Delete Invite" %}</h5>

<form method="POST"
      action="{{ request.path }}">
  {% csrf_token %}
  <p>{% trans "Do you really want to delete this invite?" %}</p>
  <a class="btn btn-link"
     href="{% url 'invites:list' %}">{% trans "Cancel" %}</a>
  <button class="btn btn-primary"
          type="submit">{% trans "Delete" %}</button>
</form>

{% endblock content %}