{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if has_liked %}
<a href="{% url 'comments:dislike' comment.id %}"
   data-action="ajax#post"><s>{% trans "Like" %}</s></a>
{% else %}
<a href="{% url 'comments:like' comment.id %}"
   data-action="ajax#post">{% trans "Like" %}</a>
{% endif %}
