{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load users_tags %}

{% has_perm "polls.vote" user object as can_vote %}
{% if not can_vote %}
{% if not object.published %}
{% dismissable user "poll-vote-public" %}
{% trans "You can only vote on a poll when it has been made public." %}
{% enddismissable %}
{% elif not object.allow_voting %}
<p class="toast text-center my-2">
  {% trans "Voting for this poll has been locked." %}
</p>
{% endif %}
{% endif %}
<ol class="poll-answers">
  {% for answer in object.answers.all %}
  {% url 'polls:vote' answer.id as vote_url %}
  <li>{{ answer }}
    <meter class="meter"
           value="{% widthratio answer.num_votes object.total_num_votes 100 %}"
           title="{% blocktrans count counter=answer.num_votes %}1 vote{% plural %}{{ counter }} votes{% endblocktrans %}"
           {% if can_vote %}
           data-action="click->ajax#post"
           data-ajax-url="{{ vote_url }}"
           {% endif %}
           min="0"
           max="100"></meter>
    {% if can_vote %}
    <div class="actions">
      <a data-action="ajax#post"
         href="{{ vote_url }}">{% trans "Vote" %}</a>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ol>
