{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load activities_tags %}

{% block subtitle %} / {% verbose_name_plural view.model as object_name_plural %}{{ object_name_plural|title }} /
{% if object %}{{ object.title }} / {% trans "Edit" %}
{% else %}{% trans "Submit" %}{% endif %}{% endblock %}

{% block content %}
{% verbose_name_plural view.model as object_name_plural %}
{% resolve_model_url view.model "list" as list_url %}
<ul class="breadcrumb">
  {% if object %}
  {% if object.published %}
  <li class="breadcrumb-item">
    <a href="{{ list_url }}">{{ object_name_plural|title }}</a>
  </li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'activities:private' %}">{% trans "Private Stash" %}</a></li>
  {% endif %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.title|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Edit" %}</a></li>
  {% else %}
  <li class="breadcrumb-item">
    <a href="{{ list_url }}">
      {{ object_name_plural|title }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">{% trans "Submit" %}</a>
  </li>
  {% endif %}
</ul>

{% block form %}
{% include "activities/includes/activity_form.html" with multipart=True %}
{% endblock %}

{% endblock content %}
