{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}
{% load i18n %}
{% load activities_tags %}

{% block subtitle %} / {% verbose_name_plural view.model as object_name_plural %} {{ object_name_plural|title }}
{% endblock %}

{% block content %}
{% verbose_name_plural view.model as object_name_plural %}

<h5>{{ object_name_plural|title }}</h5>

{% block activity_list_header %}{% endblock %}

{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" with selector=True %}
{% endif %}

{% for object in object_list %}
<div class="activity-list-item">
  {% render_activity request user object %}
</div>
{% empty %}
{% include "includes/empty.html" %}
{% endfor %}

{% include "includes/pagination.html" %}
{% endblock content %}
