{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load activities_tags %}
{% load rules %}

<article role="{{ object_type }}"
         id="{{ object_type }}-{{ object.id }}"
         class="card {{ object_type }}-card"
         data-controller="clipboard{% if is_content_sensitive %} toggle{% endif %}">
  {% block header %}
  {% if is_content_sensitive %}
  <div class="card-header"
       data-target="toggle.togglable">
    <div class="card-subtitle h6">
      {% include "activities/includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner %}
    </div>
  </div>
  <div class="card-header d-hide"
       data-target="toggle.togglable">
    {% else %}
    <div class="card-header">
      {% endif %}

      {% has_perm "communities.moderate_community" user community as can_moderate_community %}
      {% if object.is_flagged and can_moderate_community %}
      <div class="toast text-center">
        <a href="{{ object.get_absolute_url }}">
          {% blocktrans %}This {{ object_type }} has been flagged{% endblocktrans %}
        </a>
      </div>
      {% endif %}

      <div class="card-title activity-title {{ is_detail|yesno:"h5,h6" }}">

        {% if object.is_reshare %}

        <div class="card-subtitle h6">
          {% include "activities/includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner is_reshare=True %}
        </div>

        <div class="divider"></div>

        {% if object.parent and not object.parent.deleted %}
        <a href="{{ object.parent.get_absolute_url }}">{{ object.title|truncatechars:130 }}</a>
        {% endif %}

        {% else %}

        {% block title %}

        {% if is_detail %}

        {% if object.url %}
        {{ object.url|linkify:object.title }}
        {% else %}
        {{ object.title|linkify_hashtags|linkify_mentions }}
        {% endif %}

        {% else %}

        {% with object.title|truncatechars:130 as object_title %}

        {% if object.url %}
        {{ object.url|linkify:object_title }}
        {% else %}
        <a href="{{ object.get_absolute_url }}">{{ object_title }}</a>
        {% endif %}

        {% endwith %}

        {% endif %}

        <span class="label">{{ object_type|title }}</span>

        {% if not object.published %}
        <span class="label">{% trans "Private" %}</span>
        {% endif %}

        {% endblock title %}
        {% endif %}

      </div>

      {% if object.url %}
      <div class="card-subtitle mt-1">
        <div class="info">
          {{ object.url|domain|linkify }}
        </div>
      </div>
      {% endif %}

      {% if object.additional_tags %}
      <div class="card-subtitle mt-1">
        <div class="info">
          {{ object.additional_tags|linkify_hashtags }}
        </div>
      </div>
      {% endif %}

      <div class="card-subtitle mt-1">
        {% if object.parent %}
        {% include "activities/includes/timesince.html" with timestamp=object.parent.published|default:object.created owner=object.parent.owner %}
        {% elif not object.is_reshare %}
        {% include "activities/includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner %}
        {% endif %}
      </div>

    </div>
    {% endblock header %}

    {% block body %}
    <div class="card-body">
      {% if object.is_reshare and not object.parent or object.parent.deleted %}
      {% trans "[Deleted]" %}
      {% else %}
      {% if object.is_reshare %}<blockquote>{% endif %}
        {% if is_content_sensitive %}
        <div class="empty bg-dark"
             data-target="toggle.togglable">
          <p class="empty-title h5">{% trans "Sensitive Content" %}</p>
          <p class="empty-subtitle">
            {% trans "This post has been tagged sensitive. You can view all sensitive content by default in your settings." %}
          </p>
          <p>
            {% for tag in object.get_content_warning_tags %}
            #{{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <div class="empty-action">
            <button class="btn btn-primary"
                    data-action="toggle#toggle">{% trans "Show Content" %}</button>
          </div>
        </div>
        <div class="d-hide"
             data-target="toggle.togglable">
          {% endif %}
          {% with ignore_collapsable=is_detail|default:is_content_sensitive %}
          {% collapsable ignore_collapsable %}
          {% block content %}{% endblock %}
          {% endcollapsable %}
          {% endwith %}
          {% if is_content_sensitive %}</div>{% endif %}
        {% if object.is_reshare %}
      </blockquote>{% endif %}
      {% endif %}
    </div>
    {% endblock body %}

    {% block footer %}

    <div class="card-footer">
      {% block info %}{% include "activities/includes/info.html" %}{% endblock %}
      <div class="d-flex align-center mt-1">
        {% block actions %}{% include "activities/includes/actions.html" %}{% endblock %}
        {% block links %}{% include "activities/includes/links.html" %}{% endblock %}
      </div>
      <div class="clearfix"></div>
    </div>
    {% endblock footer %}
</article>
