{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load activities_tags %}
{% load comments_tags %}

{% block subtitle %} / {% verbose_name_plural object as object_name %}{{ object_name|title }} /
{{ object.title }}{% endblock %}

{% block content %}
{% verbose_name_plural object as object_name_plural %}
{% verbose_name object as object_name %}

<ul class="breadcrumb">
  {% if object.published %}
  <li class="breadcrumb-item"><a href="{% resolve_model_url view.model "list" %}">{{ object_name_plural|title }}</a>
  </li>
  {% else %}
  <li class="breadcrumb-item"><a href="{% url 'activities:private' %}">{% trans "Private Stash" %}</a></li>
  {% endif %}
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object.title|truncatechars:60 }}</a></li>
</ul>

{% if comments.number == 1 %}
{% if object.deleted %}
<p class="toast text-center my-2">
  {% blocktrans %}
  This {{ object_name }} has been removed by a community moderator.
  {% endblocktrans %}
</p>
{% endif %}

{% block activities_detail_content %}
{% render_activity request user object is_detail=True %}
{% endblock %}
{% include "flags/includes/flags.html" %}
{% endif %}

{% if object.published %}
<div class="comments mt-2"
     id="comments">
  {% if comments.number == 1 %}
  <div class="divider text-center"
       data-content="{% trans 'Comments' %}"></div>
  {% else %}
  {% include "includes/pagination.html" with css_class="mb-2" page_obj=comments is_paginated=True %}
  {% endif %}
  {% for comment in comments %}
  {% render_comment request user comment css_class="mb-2" %}
  {% endfor %}
  {% if comments.number == 1 and comments.paginator.num_pages > 1 %}
  {% include "includes/pagination.html" with css_class="my-2" page_obj=comments is_paginated=True %}
  {% endif %}
  {% if comment_form %}
  {% resolve_url object "comment" as comment_url %}
  {% include "includes/forms/stimulusjs_form.html" with action=comment_url form=comment_form form_id="comment-form" %}
  {% elif not object.allow_comments %}
  <p class="toast text-center my-2">{% trans "Comments are locked" %}</p>
  {% elif object.published %}
  <p class="toast text-center my-2">
    {% trans "You do not have permission to post comments on this site." %}
  </p>
  {% endif %}
</div>
{% endif %}
{% endblock content %}
