{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "flags/flag_form.html" %}

{% load i18n %}
{% load activities_tags %}

{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% resolve_model_url activity_model "list" %}">{% verbose_name_plural activity_model %}</a>
  </li>
  <li class="breadcrumb-item"><a href="{{ activity.get_absolute_url }}">{{ activity|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">{% trans "Flag" %}</a>
  </li>
</ul>

{{ block.super }}
{% endblock %}
