{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

<div class="card{% if css_class %} {{ css_class }}{% endif %}"
     data-controller="clipboard">
  <div class="card-header h6">
    <div class="card-title activity-title">
      {% block title %}
      {% if object.url %}
      {{ object.url|linkify:object.title }}
      {% else %}
      <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
      {% endif %}
      <span class="label">{% trans object_type|capfirst %}</span>
      <span class="label">{% trans "Pinned" %}</span>
    </div>
    {% endblock title %}
    <div class="card-subtitle h6">
      {% block timesince %}
      {% include "activities/includes/timesince.html" with owner=object.owner timestamp=object.published %}
      {% endblock timesince %}
    </div>
  </div>
  <div class="card-footer">
    {% block info %}{% include "activities/includes/info.html" %}{% endblock %}
    {% if object.description %}
    <textarea data-target="clipboard.textarea"
              readonly
              class="d-none">{{ object.description }}</textarea>
    {% endif %}
    <div class="d-flex align-center mt-1">
      {% block actions %}{% include "activities/includes/actions.html" %}{% endblock %}
      {% block links %}{% include "activities/includes/links.html" %}{% endblock %}
    </div>
  </div>
</div>
