{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load rules %}
{% load activities_tags %}
{% load notifications_tags %}
{% load users_tags %}

{% block subtitle %} / {% trans "Activities" %} {% endblock %}

{% block content %}

{% if page_obj.number == 1 %}

{% if latest_notification %}
{% notification latest_notification %}
<div class="toast toast-primary text-center mb-2"
     data-controller="ajax"
     data-ajax-url="{% url 'notifications:mark_read' latest_notification.id %}"
     data-ajax-remove>
  {{ notification_content }}
  <button class="btn btn-clear float-right"
          data-action="ajax#post"></button>
</div>
{% endnotification %}
{% endif %}

{% include "activities/includes/pinned.html" with css_class="mb-2" %}

{% has_perm "activities.create_activity" user community as can_create_activity %}

{% if can_create_activity %}
<div class="submit-post mb-2">
  <div class="input-group"
       data-controller="ajax"
       data-action="click->ajax#get"
       data-ajax-url="{% url 'posts:create' %}"
       data-ajax-follow>
    <span class="input-group-addon">
      {% avatar user %}
    </span>
    <input type="text"
           class="form-input conversation-input"
           data-action="focus->ajax#get"
           placeholder="{% trans "What's on your mind?" %}">
  </div>
</div>
<div class="actions">
  <a href="{% url 'events:create' %}">{% trans "Submit Event" %}</a>
  <a href="{% url 'photos:create' %}">{% trans "Submit Photo" %}</a>
  <a href="{% url 'polls:create' %}">{% trans "Submit Poll" %}</a>
</div>
{% endif %}

{% if not user.show_embedded_content %}

{% dismissable user "embedded-content" %}
{% url 'user_update' as user_settings_url %}
{% blocktrans %}
You can view embedded content in your feed, for example YouTube videos, by checking the <b>Show embedded content</b>
option in your
<a href="{{ user_settings_url }}">user settings</a>.
{% endblocktrans %}
{% enddismissable %}

{% endif %}

{% elif page_obj.paginator.num_pages > 1 %}
{% include "includes/pagination.html" with css_class="mb-2" %}
{% endif %}

{% include "activities/includes/activity_list.html" %}
{% endblock content %}
