{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "error_base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "An error has occurred" %}</h1>
<p>
{% trans "Sorry, we could not complete your request. Please try again later." %}
</p>
{% endblock %}
