{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "error_base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Permission Denied" %}</h1>
<p>
{% trans "Sorry, you do not have permission to view this page." %}
</p>
{% endblock %}
