{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "error_base.html" %}
{% load i18n %}
{% block content %}
<p class="mt-2">
  {% trans "Sorry, there's been a problem posting your form. Please reload this page and try again." %}
</p>
<p class="mt-1">
  <a class="btn btn-default"
     href="{{ request.get_full_path }}">{% trans "Reload Page" %}</a>
</p>
{% endblock %}