{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "includes/forms/stimulusjs_form.html" %}

{% load i18n %}
{% load activities_tags %}
{% load users_tags %}

{% block form_fields %}
{% verbose_name view.model as object_name %}

{% with tags=community.get_content_warning_tags|safeseq %}
{% if tags %}

{% dismissable user "content-warning-tags" %}
{% blocktrans with tags_joined=tags|join:", " count counter=tags|length %}
If you include the tag <b>{{ tags_joined }}</b> in your content, the {{ object_name }}
will be concealed by default.
{% plural %}
If you include the following tags in your content, the {{ object_name }}
will be concealed by default: <b>{{ tags_joined }}</b>.
{% endblocktrans %}
{% enddismissable %}

{% endif %}
{% endwith %}
{{ block.super }}
{% endblock form_fields %}
{% block form_buttons %}
{% if object.id %}
{{ block.super }}
{% else %}
<button type="submit"
        name="submit"
        class="btn btn-primary">
  {% trans "Publish" %}
</button>
<button type="submit"
        name="save_private"
        value="true"
        data-action="form#submit"
        class="btn btn-secondary">
  {% trans "Save Private" %}
</button>
{% endif %}

{% endblock form_buttons %}
