{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load activities_tags %}

<div class="dropdown mr-2">
  <a class="btn btn-sm dropdown-toggle"
     tabindex="0">
    {% trans "Actions" %}<i class="icon icon-caret"></i>
  </a>
  <ul class="menu">

    {% has_perm "activities.pin_activity" user object as can_pin %}

    {% if can_pin %}
    {% if object.is_pinned %}
    <li class="menu-item">
      <a href="{% resolve_url object "unpin" %}"
         data-controller="ajax"
         data-action="ajax#post"><s>{% trans "Pin" %}</s></a>
    </li>
    {% else %}
    <li class="menu-item">
      <a href="{% resolve_url object "pin" %}"
         data-controller="ajax"
         data-action="ajax#post">{% trans "Pin" %}</a>
    </li>
    {% endif %}
    {% endif %}

    {% if not is_detail %}

    {% has_perm "activities.create_comment" user object as can_create_comment %}
    {% if can_create_comment %}
    <li class="menu-item">
      <a href="{{ object.get_absolute_url }}#comment-form">
        {% trans "Comment" %}
      </a>
    </li>
    {% endif %}
    {% endif %}

    {% has_perm "activities.like_activity" user object as can_like %}
    {% if can_like %}
    <li class="menu-item"
        data-controller="ajax"
        data-ajax-replace>
      {% include "activities/includes/like.html" with has_liked=object.has_liked %}
    </li>
    {% endif %}

    {% has_perm "activities.bookmark_activity" user object as can_bookmark %}
    {% if can_bookmark %}
    <li class="menu-item"
        data-controller="ajax"
        data-ajax-replace>
      {% include "activities/includes/bookmark.html" with has_bookmarked=object.has_bookmarked %}
    </li>
    {% endif %}


    {% if not object.has_reshared %}
    {% has_perm "activities.reshare_activity" user object as can_reshare %}
    {% if can_reshare %}
    <li class="menu-item">
      <a data-controller="ajax"
         data-action="ajax#post"
         data-ajax-redirect="{{ request.get_full_path }}"
         href="{% resolve_url object "reshare" %}">{% trans "Reshare" %}</a>
    </li>
    {% endif %}
    {% endif %}

    {% has_perm "activities.flag_activity" user object as can_flag %}
    {% if can_flag and not object.has_flagged %}
    <li class="menu-item">
      <a href="{% resolve_url object "flag" %}">
        {% trans "Flag" %}
      </a>
    </li>
    {% endif %}

    {% has_perm "activities.change_activity" user object as can_change %}
    {% if can_change %}

    {% if not object.published %}
    <li class="menu-item">
      <a data-controller="ajax"
         data-action="ajax#post"
         data-ajax-confirm-header="{% trans 'Publish' %}"
         data-ajax-confirm-body="{% blocktrans trimmed %}Are you sure you want to publish this {{ object_type }}? You cannot reverse this action.{% endblocktrans %}"
         href="{% resolve_url object "publish" %}">{% trans "Publish" %}</a>
      {% endif %}
    <li class="menu-item">
      <a href="{% resolve_url object "update" %}">{% trans "Edit" %}</a>
    </li>
    {% endif %}


    {% has_perm "activities.change_activity_tags" user object as can_change_tags %}
    {% if can_change_tags %}
    <li class="menu-item">
      <a href="{% resolve_url object "update_tags" %}">{% trans "Edit Tags" %}</a>
    </li>
    {% endif %}

    {% has_perm "activities.delete_activity" user object as can_delete %}
    {% if can_delete %}
    <li class="menu-item">
      <a href="{% resolve_url object "delete" %}"
         data-controller="ajax"
         data-action="ajax#post"
         {% if not is_detail %}
         data-ajax-redirect="{{ request.get_full_path }}"
         {% endif %}
         data-ajax-confirm-header="{% trans 'Delete' %}"
         data-ajax-confirm-body="{% blocktrans %}Are you sure you want to delete this {{ object_type }}?{% endblocktrans %}">
        {% trans "Delete" %}</a>
    </li>
    {% endif %}
    {% if object.description %}
    <li class="menu-item">
      <a href="#"
         data-target="clipboard.button"
         data-action="clipboard#copy">
        {% trans "Copy Markdown" %}
      </a>
    </li>
    {% endif %}
    {% block extra_actions %}{% endblock %}
  </ul>
</div>
