{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load activities_tags %}

{% if has_bookmarked %}
<a href="{% resolve_url object "remove_bookmark" %}"
   data-action="ajax#post"><s>{% trans "Bookmark" %}</s></a>
{% else %}
<a href="{% resolve_url object "bookmark" %}"
   data-action="ajax#post">{% trans "Bookmark" %}</a>
{% endif %}
