{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load activities_tags %}

{% if object.description %}
<div class="markdown-content mt-1">
  {{ object.description.markdown|strip_external_images:user }}
</div>
<textarea data-target="clipboard.textarea"
          readonly
          class="d-none">{{ object.description }}</textarea>
{% endif %}
