{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load activities_tags %}

{% if has_liked %}
<a href="{% resolve_url object "dislike" %}"
   data-action="ajax#post"><s>{% trans "Like" %}</s></a>
{% else %}
<a href="{% resolve_url object "like" %}"
   data-action="ajax#post">{% trans "Like" %}</a>
{% endif %}
