{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "comments/base.html" %}
{% load i18n %}
{% load comments_tags %}

{% block subtitle %}{{ block.super }} {% if content_object %} / {{ content_object }}{% endif %}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% if content_object %}
  <li class="breadcrumb-item">
    <a href="{{ content_object.get_absolute_url }}">{{ content_object|truncatechars:60 }}</a>
  </li>
  {% else %}
  <li class="breadcrumb-item">
    <a href="{% url 'comments:list' %}">{% trans "Comments" %}</a>
  </li>
  {% endif %}
  {% if comment.parent and not comment.parent.deleted %}
  <li class="breadcrumb-item">
    <a href="{{ comment.parent.get_absolute_url }}">{% trans "Parent" %}</a>
  </li>
  {% endif %}
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">{% trans "Comment" %}</a>
  </li>
</ul>

{% if not content_object %}
<h6>{% trans "[Deleted]" %}</h6>
{% endif %}

{% if comment.parent and comment.parent.deleted %}
<p class="toast text-center my-2">
  {% blocktrans %}
  Parent comment has been deleted by a community moderator.
  {% endblocktrans %}
</p>
{% endif %}
{% render_comment request user comment is_detail=True %}
{% include "flags/includes/flags.html" %}

{% if replies %}
<div class="divider text-center"
     data-content="{% trans 'Replies' %}"></div>
{% for reply in replies %}
{% render_comment request user reply is_reply=True css_class="mb-2" %}
{% endfor %}
{% endif %}

{% endblock content %}
