{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "comments/base.html" %}

{% load i18n %}
{% load activities_tags %}
{% load comments_tags %}

{% block subtitle %}{{ block.super }} /
{% if parent %}{{ parent.content_object }} / {% trans "Reply "%}
{% elif object %}{{ object.content_object }} / {% trans "Edit" %}
{% elif activity %}{{ activity }} / {% trans "Comment" %}{% endif %}{% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% if parent %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Reply" %}</a></li>
  {% elif object %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{% trans "Edit" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Edit" %}</a></li>
  {% elif activity and activity_model %}
  <li class="breadcrumb-item">
    <a href="{% resolve_model_url activity_model "list" %}">{% verbose_name_plural activity_model %}</a>
  </li>
  <li class="breadcrumb-item"><a href="{{ activity.get_absolute_url }}">{{ activity|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">{% trans "Submit" %}</a>
  </li>
  {% endif %}
</ul>


{% if parent %}
{% render_comment request user parent is_detail=True %}
<div class="my-2"></div>
{% endif %}

{% include "includes/forms/stimulusjs_form.html" %}

{% endblock content %}
