{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "flags/flag_form.html" %}
{% load i18n %}

{% block content %}
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ comment.get_absolute_url }}">{% trans "Comment" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{% trans "Flag" %}</a></li>
</ul>

{{ block.super }}
{% endblock %}
