{% extends "private_messages/base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load private_messages_tags %}

{% block content %}

{% if parent %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a>
  </li>
  <li class="breadcrumb-item"><a href="#">{% trans "Message" %}</a></li>
</ul>
{% endif %}

{% has_perm "private_messages.create_message" user community as can_create_message %}

<h5>{% trans "Messages" %}</h5>

<div class="actions mb-1">
  <a href="{% url 'private_messages:inbox' %}">{% trans "Inbox" %}</a>
  <a href="{% url 'private_messages:outbox' %}">{% trans "Outbox" %}</a>
  {% if can_create_message %}
  <a href="{% url 'private_messages:message_create' other_user.username %}">
    {% user_display other_user as other_user_name %}
    {% blocktrans %}
    Send Message to {{ other_user_name }}
    {% endblocktrans %}
  </a>
  {% endif %}

</div>

{% render_message request user message is_detail=True %}
{% for reply in replies %}
{% render_message request user reply conversation=message %}
{% endfor %}
{% endblock content %}
