{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h5>{% trans "Delete Message" %}</h5>

<form method="POST"
      action="{{ request.path }}">
  {% csrf_token %}
  <p>{% trans "Do you really want to delete this message?" %}</p>
  <a class="btn btn-link"
     href="{{ message.get_absolute_url }}">{% trans "Cancel" %}</a>
  <button class="btn btn-primary"
          type="submit">{% trans "Delete" %}</button>
</form>

{% endblock content %}