{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/user_detail_base.html" %}
{% load i18n %}

{% block subtitle %}{{ block.super }} / {% trans "Comments" %}{% endblock %}

{% block user_content %}

{% if paginator.count %}
<div class="mt-2 toast text-center">
  {% if is_current_user %}
  {% blocktrans count counter=paginator.count %}
  You have submitted <strong>1 comment</strong>
  {% plural %}
  You have submitted <strong>{{ counter }} comments</strong>
  {% endblocktrans %}
  {% if num_likes %}
  {% blocktrans count counter=num_likes %}
  and have received <strong>1 like</strong> for your comments.
  {% plural %}
  and have received <strong>{{ counter }} likes</strong> for your comments.
  {% endblocktrans %}
  {% else %}
  and have not received any likes for your comments.
  {% endif %}

  {% else %}
  {% blocktrans count counter=paginator.count %}
  {{ display_name }} has submitted <strong>1 comment</strong>
  {% plural %}
  {{ display_name }} has submitted <strong>{{ counter }} comments</strong>
  {% endblocktrans %}
  {% if num_likes %}
  {% blocktrans count counter=num_likes %}
  and has received <strong>1 like</strong> for their comments.
  {% plural %}
  and has received <strong>{{ counter }} likes</strong> for their comments.
  {% endblocktrans %}
  {% else %}
  and has not received any likes for their comments.
  {% endif %}
  {% endif %}
</div>
{% endif %}

{% if is_current_user %}
{% trans "You have not submitted any comments." as t_empty_message %}
{% else %}
{% blocktrans asvar t_empty_message trimmed %}
{{ display_name }} has not submitted any comments.
{% endblocktrans %}
{% endif %}

{% include "comments/includes/comment_list.html" with empty_message=t_empty_message %}

{% endblock user_content %}
