{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %} / {% trans "People" %}{% endblock %}

{% block content %}

<h5>{% trans "People" %}</h5>

{% has_perm "private_messages.create_message" user community as can_create_message %}

<ul class="tab tab-block mt-2">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:member_list' %}">{% trans "Members" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:following_list' %}">{% trans "Following" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:follower_list' %}">{% trans "Followers" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:blocked_list' %}">{% trans "Blocked" %}</a>
  </li>
</ul>

{% block user_list %}

{% if object_list %}

{% block counter_container %}
<div class="my-2 toast text-center">
  {% block counter %}
  {% endblock counter %}
</div>
{% endblock counter_container %}

<table class="table table-hover table-responsive">
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>
        {% block user_item_detail %}
        {% if object.num_unread_messages %}
        {% url 'users:messages' object.username as messages_url %}
        {% include "users/includes/chip.html" with profile=object profile_url=messages_url %}
        {% else %}
        {% include "users/includes/chip.html" with profile=object %}
        {% endif %}

        {% if object.role == "admin" or object.role == "moderator" %}
        <div class="label">{{ object.role_display }}</div>
        {% endif %}

        {% if object.num_unread_messages %}
        <span class="badge"
              data-badge="{{ object.num_unread_messages }}"></span>
        {% endif %}
        {% endblock user_item_detail %}
      </td>
      <td>
        {% block user_item_actions %}
        {% if user != object %}
        <div class="float-right-responsive actions">
          {% has_perm "users.follow_user" user object as can_follow_user %}
          {% if can_follow_user %}
          <span data-controller="ajax"
                data-ajax-replace>
            {% include "users/includes/follow.html" with user_obj=object is_following=object.is_following %}
          </span>
          {% endif %}
          {% if can_create_message and object not in blocked_users %}
          <a href="{% url 'private_messages:message_create' object.username %}">
            {% trans "Send Message" %}
          </a>
          {% endif %}
        </div>
        {% endif %}
        {% endblock user_item_actions %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock user_list %}
{% endblock content %}
