{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/tags/base.html" %}
{% load i18n %}
{% load rules %}


{% block content %}

<h5>{% trans "Tags" %}</h5>

{% has_perm "users.follow_tag" user as can_follow_tag %}
{% has_perm "users.block_tag" user as can_block_tag %}

{% if can_follow_tag or can_block_tag %}
<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:tag_list' %}">{% trans "All" %}</a>
  </li>
  {% if can_follow_tag %}
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:following_tag_list' %}">{% trans "Following" %}</a>
  </li>
  {% endif %}
  {% if can_block_tag %}
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'activities:blocked_tag_list' %}">{% trans "Blocked" %}</a>
  </li>
  {% endif %}
</ul>
{% endif %}

{% block tag_list %}
{% if object_list %}
{% with blocked=user.blocked_tags.all following=user.following_tags.all %}
<table class="table table-hover table-responsive">
  <tbody>
    {% for tag in object_list %}
    <tr>
      <td>
        <a href="{% url 'activities:tag_detail' tag.slug %}">
          #{{ tag.name }}
        </a>
        {% if tag.name.lower in content_warnings %}
        <span class="label">{% trans "Sensitive" %}</span>
        {% endif %}
      </td>
      {% if can_follow_tag or can_block_tag %}
      <td>
        <div class="float-right-responsive actions">
          {% if can_follow_tag %}
          <span data-controller="ajax"
                data-ajax-replace>
            {% if tag in following %}
            {% include "activities/includes/tags/follow.html" with is_following=True %}
            {% else %}
            {% include "activities/includes/tags/follow.html"  with is_following=False %}
            {% endif %}
          </span>
          {% endif %}
          {% if can_block_tag %}
          <span data-controller="ajax"
                data-ajax-replace>
            {% if tag in blocked %}
            {% include "activities/includes/tags/block.html" with is_blocked=True %}
            {% else %}
            {% include "activities/includes/tags/block.html" with is_blocked=False %}
            {% endif %}
          </span>
          {% endif %}
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock tag_list %}

{% endblock content %}
