{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/activity_list.html" %}
{% load i18n %}
{% load rules %}

{% block activity_list_header %}

<div class="actions mb-1">
  {% has_perm 'activities.create_activity' user community as can_create_activity %}
  {% if can_create_activity %}
  <a href="{% url 'events:create' %}">
    {% trans "Submit Event" %}
  </a>
  {% endif %}
  <a href="{% url 'posts:list' %}">{% trans "Posts" %}</a>
  <a href="{% url 'photos:list' %}">{% trans "Photos" %}</a>
  <a href="{% url 'polls:list' %}">{% trans "Polls" %}</a>
</div>
{% endblock %}
